* {
  padding: 0;
  margin: 0;
}



#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;

}

#header {
  height: 30vh;
}

#content {
  height: 35vh;
}

#title {
  height: 10vh;
}

#white-block-top { 
  width: 33%;
  height: 100%;
  margin-right: 0;
  background-color: white;
  float: left;
}

#black-block-top {
  width: 67%;
  height: 100%;
  margin-left: 0;
  background-color: #363636;
  float: left;
}

/* Heading */

#white-block-heading-left {
  display: block;
  width: 10%;
  height: 100%;
  background-color: white;
  float: left; 
}

h1 {
  margin: 0;
}

#heading {
  width: 23%;
  height: 100%;
  color: white;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 100%;
  line-height: 10vh;
  background-color: #1495D7;
  float: left;
}

#white-block-heading-right {
  width: 67%;
  height: 100%;
  margin-left: 0;
  background-color: white;
  float: left
}

/* Registration Form */

#white-block-form-left {
  width: 33%;
  height: 100%;
  background-color: white;
  float: left;
}

#registration-form {
  width: 34%;
  height: 100%;
  background-color: #1494D7;
  float: left;
}

input[type="text"]
{
    font-size:18px;
}

input[type="password"]
{
    font-size:18px;
}

.form {
  color: white;
  height: 100%;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  vertical-align: middle;
  line-height: normal;
}

.labeltext {
  font-size: 100%;
}

.input-username {
  border: none;
  color: white;
  width: 100%;
  height: 15%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #1580B8;
}

.input-password {
  border: none;
  color: white;
  width: 100%;
  height: 15%;
  margin-top: 2%;
  margin-bottom: 3%;
  background-color: #1580B8;
}

.input-button:disabled {
  border: none;
  cursor: not-allowed;
  color: #747171;
  font-size: 15px;
  width: 100%;
  height: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
  text-decoration: line-through; 
  background-color: #363636;
}

.input-button {
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 100%;
  height: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #363636;
}

#password-result {
  height: 5%;
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;

}